---
  import { Icon } from "astro-icon/components";
  import LinkButton from "../LinkButton.astro";
  import SectionContainer from "../SectionContainer.astro";

---

<SectionContainer title="Acerca de Michel" id="about-me">

  <Icon slot="icon" name="mdi:account" />

  <div class="">
    <div class="flex flex-col-reverse items-center gap-10 md:flex-row">
      <div class="[&>p]:mb-4 text-gray-600 text-lg leading-8 dark:text-gray-300">
        <p>
          Desde pequeño, siempre me ha gustado el mundo de la tecnología. Recuerdo que me pasaba horas jugando
          con mi computadora y soñando con crear mi propio videojuego. Con los años, mi interés por la
          programación se convirtió en una pasión.
        </p>

        <p>
          Soy Técnico Superior Universitario en Informática (con honores) y durante mis estudios, uno de mis proyectos favoritos fue crear una aplicación web para gestionar el personal de un hospital. Además, siempre me gustó ayudar a mis compañeros a resolver errores de código, lo que reforzó mis habilidades de comunicación y trabajo en equipo.
        </p>

        <p>
          Profesionalmente, tengo un 1 año de experiencia en el desarrollo web, en la Alcaldía del Municipio Montes, lideré la creación de un sistema de nómina que redujo errores y ahorró tiempo al equipo de Recursos Humanos. Aprendí que, más allá de escribir líneas de código, lo crucial es escuchar las necesidades reales de los usuarios y adaptar la tecnología a ellas.
        </p>
      </div>

      <div class="flex flex-col min-w-max space-y-4">
        <img src="/img/profile/photo-2.jpg" alt="Profile" class="size-60 rounded-full mx-auto mx-auto" style={{
          aspectRatio: "100/100" , objectFit: "cover" , }} />

        <div class="flex justify-center">
          <LinkButton href="https://drive.google.com/file/d/1_I7N0RcXRf-QFDYpNnXeOFhWVVma38ez/view?usp=sharing" target="_blank">
            <Icon name="mdi:file-document" />
            Descargar CV
          </LinkButton>
        </div>
      </div>
    </div>



  </div>
</SectionContainer>